@media screen and (max-width: 325px){
    .header__wrap{
        padding-top: 20px;
        padding-left: 20px;
    }
    .header__wrap_logo img{
        width: 50px;
        height: 50px;
    }
    .box{
        padding-right: 20px;
    }
    .header__main h1{
        font-size: 30px;
    }
    .header__main h2{
        font-size: 40px;
    }
    .header__main p::after,
    .header__main p::before
    {
        display: none;
    }
    .header__main{
        margin:200px 0 0 0 ;
    }
    .header__absolute{
        flex-direction: column;
        position: static;
        padding: 15px;
        margin-top: 300px;
    }
    .absolute_box{
        margin-top: 15px;

    }
    .header__absolute p{
        font-size: 22px;
        text-align: center;
    }
    .header__absolute h2{
        font-size: 26px;
    }
}