#header{
    background: gray;
    width: 1000px;
    height: 100px;
}
.father{
    width: 1000px;
    height: 400px;
    display: flex;
    margin-top: 20px;
}
#menu{
    background: #e6ff00;
    width: 300px;
}
.mother{
    width: 700px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
}
.post{
    background: #c01313;
    width: 680px;
    height: 300px;
    margin-left: 20px;
    }
#footer{
    background: cornflowerblue;
    width: 1000px;
    height: 100px;
    margin-top: 20px;
}