@media screen and (max-width: 400px){
    .hat__wrap{
        column-gap: 15px;
        font-size: 13px;
        line-height: 15px;
        justify-content: flex-start;
    }
    .hat-left img{
        display: none;
    }
    header{
        padding: 0 15px;
    }
    .time-adress{
        display: none;
    }
    .top-logo img{
        height: 55px;
    }
    .logo-text h2, .top-phone h2{
        font-size: 12px;
    }
    .logo-text span, .top-phone span{
        font-size: 7px;
    }
    .top-Whatsapp{
        font-size: 8px;
        width: 140px;
        height: 18px;
    }
    .header__bottom_user{
        display: none;
    }
    .header__bottom_button{
        width: 34px;
        height: 34px;
    }
    .input-group {
        width: 310px;
        height: 34px;
        font-size: 8px;
    }
    .form-control{
        font-size: 12px;
    }
    .btn-primary{
        display: none;
    }
    .small-button{
        display: flex;
    }
    .main__wrap{
        flex-direction: column;
    }
    .left-bar-text h1{
        font-size: 16px;
    }
    .left-bar-text h2{
        font-size: 10px;
    }
    .left-bar-text h3{
        font-size: 20px;
    }
    .btn-secondary{
        width: 124px;
        height: 34px;
        font-size: 12px;
    }
    .btn-secondary img{
        display: none;
    }
    .left-bar img{
        width: 147px;
        height: 125px;
    }
    .left-bar-text{
        row-gap: 0;
    }
    .main__wrap{
        row-gap: 10px;
    }
    .top-right{
        justify-content: space-between;
    }
    .first h3{
        font-size: 14px;
    }
    .first img{
        width: 80px;
    }
    .second h3{
        font-size: 15px;
        line-height: 19px;
    }
    .second p{
        font-size: 12px;
    }
    .second h4{
        font-size: 20px;
    }
    .mini-box{
        width: 45px;
        height: 45px;
    }
    .second{
        font-size: 12px;
    }
    .box-1 h2{
        font-size: 16px;
    }
    .box-1 p{
        font-size: 10px;
    }
    .box-1 button{
        font-size: 12px;
        width: 72px;
        height: 24px;
    }
    .medium__box-1_wrap{
        width: 100%;
        align-items: center;
    }
    .medium__box-1_wrap img{
        width: 74px;
    }
    .box-1{
        width: 180px;
    }
    .menu{
        display: flex;
        position: fixed;
        top: 670px;
        width: 400px;
    }
    .top-section{
        max-width: 380px;
    }
    .top-first-section,.top-third-section{
        width: 135px;
        font-size: 10px;
    }
    .top-second-section{
        width: 60px;
        font-size: 10px;
    }
    .section-wrap{
        padding-top: 50px;
    }
    .section__wrap_box{
        width: 48%;
    }
    .section__wrap_box> img{
        width: 149px;
        height: 127px;
    }
    .section__wrap_box h4{
        font-size: 12px;
    }
    .section__wrap_box button{
        width: 110px;
        height: 35px;
    }
    .section-mini-box button img{
        display: none;
    }
    .none{
        display: none;
    }
    .section-down{
        margin-left: 120px;
        width: 160px;
        height: 34px;
        font-size: 14px;
    }
    .news__wrap_box li,a,p{
        font-size: 12px;
    }
    .news__wrap{
        flex-direction: column;
    }
    .news__wrap_box{
        width: 100%;
        padding-top: 20px;
    }
    .news__wrap_straight{
        display: none;
    }
    .news h3{
        margin-left: 20px;
    }
}