@media screen and (max-width: 768px) {
    .hat__wrap_left {
        column-gap: 30px;
        font-size: 13px;
        line-height: 15px;
    }
    .hat__wrap {
        padding: 10px 20px;
    }
    .top-logo img {
        width: 55px;
        height: 60px;
    }
    .logo-text h2 {
        font-size: 16px;
    }
    .clock-text, .top-adress p {
        font-size: 12px;
    }
    .top-phone h2 {
        font-size: 16px;
    }
    .top-clock img, .top-adress img {
        width: 20px;
        height: 20px;
    }
    .werty {
        flex-direction: column;
    }
    .werty-2 {
        flex-direction: column-reverse;
    }
    .header__top {
        padding-top: 15px;
    }
    .top-Whatsapp {
        width: 180px;
        height: 20px;
    }
    .top-clock, .top-adress {
        column-gap: 5px;
    }
    .top-adress {
        padding-top: 10px;
    }
    .top-Whatsapp {
        margin-top: 10px;
    }
    header {
        padding: 0 20px;
    }
    .header__bottom_button h3 {
        display: none;
    }
    .header__bottom_button {
        width: 43px;
        height: 43px;
    }
    .input-group {
        width: 340px;
        height: 43px;
    }
    .btn-primary {
        width: 90px;
        height: 43px;
    }
    .user, .heart, .cart {
        flex-direction: column;
        width: 60px;
        height: 50px;
        align-items: center;

    }
    .cart img {
        width: 21px;
        height: 21px;
    }
    .cart {
        font-size: 10px;
    }
    .header__bottom_user{
        column-gap: 50px;
    }
    .img{
        display: none;
    }
    .left-bar-text h1{
        font-size: 26px;
        line-height: 30px;
    }
    .left-bar-text h2{
        font-size: 16px;
        line-height: 19px;
    }
    .left-bar-text h3{
        font-size: 30px;
        line-height: 35px;
    }
    .btn-secondary{
        width: 150px;
        height: 46px;
    }
    .left-bar >img{
        width: 220px;
        height: 220px;
    }
    .left-bar{
        padding: 20px;
    }
    .first h3{
        font-size: 12px;
    }
    .first img{
        width: 70px;
        height: 65px;
    }
    .second h3{
        font-size: 13px;
    }
    .second p{
        font-size: 10px;
    }
    .second h4{
        font-size: 18px;
    }
    .top-right{
        padding: 10px;
    }
    .mini-box{
        width: 39px;
        height: 39px;
    }
    .right-bar{
        row-gap: 20px;
    }
    .main__wrap{
        margin: 0 20px;
        column-gap: 20px;
    }
    .left-border,.right-border{
        display: none;
    }
    .box-1 h2{
        font-size: 18px;
        line-height: 21px;
    }
    .box-1 p{
        font-size: 12px;
        line-height: 20px;
    }
    .box-1 button{
        width: 76px;
        height: 23px;
        font-size: 13px;
    }
    .medium__box-1_wrap img{
        width: 95px;
        height: 125px;
    }
    .box-1{
        padding: 10px;
    }
    .medium__box-1_wrap{
        align-items: center;
        column-gap: 10px;
    }
    .medium{
        margin-top: 30px;
    }
    .medium__wrap{
        margin-left: 20px;
    }
    .section-wrap{
        padding-top: 10px;
        margin-left: 20px;
    }
    .top-first{
        width: 201px;
        height: 49px;
        font-size: 16px;
    }
    .top-second{
        width: 108px;
        height: 49px;
        font-size: 16px;
    }
    .top-third{
        width: 192px;
        height: 49px;
        font-size: 16px;
    }
    .top-section{
        column-gap: 15px;
        padding-top: 50px;
    }
}
