@media screen and (max-width: 768px) {
    .hat__wrap_left {
        column-gap: 30px;
        font-size: 13px;
        line-height: 15px;
    }
    .hat__wrap {
        padding: 10px 20px;
    }
    .top-logo img {
        height: 60px;
    }
    .logo-text h2 {
        font-size: 16px;
    }
    .clock-text, .top-adress p {
        font-size: 12px;
    }
    .top-phone h2 {
        font-size: 16px;
    }
    .top-clock img, .top-adress img {
        height: 20px;
    }
    .time-adress {
        flex-direction: column;
    }
    .whatsapp-phone {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .header__top {
        padding-top: 15px;
    }
    .top-Whatsapp {
        width: 180px;
        height: 20px;
    }
    .top-clock, .top-adress {
        column-gap: 5px;
    }
    .top-adress {
        padding-top: 10px;
    }
    .top-Whatsapp {
        margin-top: 10px;
    }
    header {
        padding: 0 20px;
    }
    .header__bottom_button h3 {
        display: none;
    }
    .header__bottom_button {
        width: 43px;
        height: 43px;
    }
    .input-group {
        width: 340px;
    }
    .btn-primary {
        width: 90px;
        height: 43px;
    }
    .header__bottom_user{
        column-gap: 50px;
    }
    .user, .heart, .cart {
        flex-direction: column;
        width: 60px;
        align-items: center;
    }
    .cart {
        font-size: 10px;
    }
    .img{
        display: none;
    }
    .left-bar-text{
        row-gap: 15px;
    }
    .left-bar-text h1{
        font-size: 26px;
        line-height: 30px;
    }
    .left-bar-text h2{
        font-size: 16px;
        line-height: 19px;
    }
    .left-bar-text h3{
        font-size: 30px;
        line-height: 35px;
    }
    .btn-secondary{
        width: 150px;
        height: 46px;
    }
    .left-bar >img{
        width: 220px;
        height: 220px;
    }
    .left-bar{
        padding: 20px;
    }
    .first h3{
        font-size: 12px;
    }
    .first img{
        width: 70px;
    }
    .second{
        padding-top: 10px;
    }
    .top-right{
        column-gap: 0;
        padding: 10px;
    }
    .second h3{
        font-size: 13px;
        line-height: 19px;
    }
    .second p{
        font-size: 10px;
    }
    .second h4{
        font-size: 18px;
    }
    .mini-box{
        width: 39px;
        height: 39px;
    }
    .right-bar{
        row-gap: 20px;
    }
    .main__wrap{
        margin: 0 20px;
        column-gap: 20px;
    }
    .left-border,.right-border{
        display: none;
    }
    .box-1 h2{
        font-size: 18px;
        line-height: 21px;
    }
    .box-1 p{
        font-size: 12px;
        line-height: 20px;
    }
    .box-1 button{
        width: 76px;
        height: 23px;
        font-size: 13px;
    }
    .medium__box-1_wrap img{
        width: 95px;
    }
    .box-1{
        padding: 10px;
    }
    .medium__box-1_wrap{
       width: 48%;
    }
    .medium{
        margin-top: 30px;
    }
    .medium__wrap{
        margin:0 20px;
    }
    .medium__box-1_wrap{
        justify-content: space-evenly;
    }
    .top-first-section{
        width: 201px;
        height: 49px;
        font-size: 16px;
    }
    .top-second-section{
        width: 108px;
        height: 49px;
        font-size: 16px;
    }
    .top-third-section{
        width: 192px;
        height: 49px;
        font-size: 16px;
    }
    .top-section{
        column-gap: 15px;
        margin-left: 20px;
    }
    .section{
        margin-top: 50px;
    }
    .section__wrap{
        padding-top: 10px;
        margin-left: 20px;
    }
    .section__wrap_box{
        width: 32%;
    }
    .section-down{
        margin-left: 300px;
    }
    .news__wrap_box{
        width: 33%;
    }
    .news__wrap_box li,a,p{
        font-size: 14px;
    }
    .news__wrap{
        margin-left: 20px;
    }
    .news h3{
        margin-left: 20px;
    }
    .footer__wrap{
        margin-left: 20px;
    }
    .footer__wrap_catalog,.footer__wrap_rubricator{
        width: 30%;
    }
    .footer__wrap_information{
        width: 40%;
    }
    .footer__wrap_catalog,.footer__wrap_rubricator{
        row-gap: 15px;
    }
    .footer__wrap_information h4{
        padding-top: 20px;
    }
    .footer__wrap_contact-adress{
        width: 100%;
    }
    .contact-adress{
        width: 60%;
    }
    .footer-text{
        flex-direction: column;
        padding-top: 0;
        width: 40%;
    }
    .footer-info{
        flex-direction: row;
        padding-top: 30px;
        font-size: 16px;
        width: 80%;
        column-gap: 10px;
    }
    .black{
        width: 450px;
        margin-left: 250px;
    }
    .social{
        column-gap: 60px;
        margin-top: 10px;
        width: 300px;
        margin-left: 220px;
    }
    .foot{
        margin-top: 20px;
        padding-top: 20px;
        border: 1px solid #0C1A2A; ;
    }
}
