@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: white;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.blue{
    background: #005BB9;
}
.hat, footer{
    background: #0F2438;
}
.hat-left img{
    width: 14px;
    height: 20px;
}
.hat__wrap{
    max-width: 1300px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: white;
    justify-content: space-between;
    padding: 10px 0;
}
.hat__wrap span{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
}
.hat__wrap_left {
    column-gap: 40px;
}
.hat__wrap_right{
    column-gap: 30px;
}
.header__wrap{
    max-width: 1300px;
    margin: 0 auto;
}
.header__top,.header__bottom{
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.top-logo{
    font-family: Roboto;
    font-style: normal;
    color: #0F2438;
    align-items: center;

}
.logo-text h2{
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 0;
}
.logo-text span{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.top-clock,.top-adress{
    align-items: center;
    column-gap: 10px;

}
.clock-text{
    text-align: end;
    font-size: 14px;
}
.top-adress p{
    margin-bottom: 0;
}
.whatsapp-phone{
    align-items: center;
}
.top-Whatsapp{
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
    font-size: 12px;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
}
.top-phone h2{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
}
.top-phone span{
    font-size: 12px;
}
.top-phone{
    align-items: flex-end;
    color: #0F2438;
}
.time-adress,.whatsapp-phone{
    column-gap: 50px;
}
.header__bottom{
    padding-bottom: 30px;
}
.header__bottom_button{
    width: 164px;
    height: 53px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}
.button-box{
    row-gap: 2px;
}
.box-straight{
    width: 20px;
    height: 3px;
    background: white;
}
.header__bottom_button h3{
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
}
.input-group{
    font-size: 14px;
    color: #C2C5DA;
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    max-width: 550px;
}
.btn-primary{
    width: 101px;
    height: 53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border-radius: 0 6px 6px 0;
}
.user,.heart,.cart{
    column-gap: 15px;
    font-size: 14px;
}
.user,.heart{
    border-right: 1px solid #E1E5F8;
    padding-right: 25px;
}
.header__bottom_user{
    column-gap: 25px;
}
header{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.small-button{
    width: 34px;
    height: 34px;
    display: none;
    border-radius: 0 4px 4px 0;
    justify-content: center;
    align-items: center;
}
.main__wrap{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: space-between;
}
.left-bar{
    background:url("images/background.png") no-repeat center/cover;
    align-items: center;
    border-radius: 20px;
}
.left-bar-text h1{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
    margin-bottom: 0;
}
.left-bar-text h2{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    margin-bottom: 0;
}
.left-bar-text h3{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
    margin-bottom: 0;
}
.btn-secondary{
    width: 160px;
    height: 50px;
    background: #005BB9;
    border-radius: 6px;
}
.btn img{
    padding-right: 10px;
}
.left-bar-text{
    row-gap: 30px;
    align-items: flex-start;
}
.mini-box{
    width: 57px;
    height: 49px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.top-right{
    background: #F4F5FA;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    padding: 10px;
    column-gap: 20px;
}
.first h3{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}
.second h3{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 0;
}
.second p{
    font-size: 12px;
    line-height: 14px;
    color: #525252;
    margin-bottom: 0;
}
.second h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    margin-bottom: 0;
}
.second span{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.third{
    align-items: flex-end;
}
.second{
    padding-top: 20px;
    row-gap: 10px;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.right-bar{
    row-gap: 40px;
}
.medium{
    margin-top: 70px;
}
.medium__wrap{
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}
.medium__box-1_wrap{
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    width: 33%;
    justify-content: space-between;
}
.box-1 h2{
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
    margin-bottom: 0;
}
.box-1 p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
.box-1 button{
    width: 86px;
    height: 26px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
}
.box-1{
    padding: 30px;
    justify-content: center;
    row-gap: 15px;
}
.left-border{
    position: absolute;
    top: 50px;
    left: -40px;
}
.right-border{
    position: absolute;
    right: -40px;
    top: 50px;
}
.menu-item{
    align-items: center;
}
.menu{
    max-width: 400px;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    padding-top: 10px;
    display: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.top-first-section,.top-second-section,.top-third-section{
    width: 241px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: white;
    justify-content: center;
    align-items: center;
}
.top-second-section,.top-third-section{
    color: #005BB9;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    background: white;
}
.top-second-section{
    width: 123px;
    height: 55px;
}
.top-third-section{
    width: 229px;
    height: 55px;
}
.section{
    margin-top: 80px;
}
.top-section{
    column-gap: 20px;
    margin-left: 35px;
}
.section__wrap{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
    flex-wrap: wrap;
}
.section__wrap_box{
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px 30px 10px;
    border-bottom: 1px solid #E1E5F8;
}
.section__wrap_box >img{
    height: 200px;
}
.box-reviews{
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    column-gap: 5px;
    align-items: center;
}
.box-reviews span{
    color: #B0B0B0;
}
.box-reviews p{
    margin-bottom: 0;
}
.section__wrap_box h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.box-text{
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    column-gap: 5px;
    height: 40px;
}
.box-text span{
    text-decoration-line: underline;
    color: #005BB9;
}
.section-mini-box button{
    background: #005BB9;
    border-radius: 6px;
    width: 160px;
    height: 49px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
}
.section-mini-box span{
    color:#005BB9 ;
}
.section-mini-box{
    column-gap: 15px;
    align-items: center;
}
.qaz p{
    font-size: 22px;
    line-height: 26px;
      color: #FFB800;
}
.qaz span{
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.wrap-box {
    width: 24%;
    column-gap: 30px;

}
.section-down{
    width: 187px;
    height: 49px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    color: #005BB9;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-top: 20px;
}
.news{
    margin-top: 60px;
    margin-bottom: 40px;
}
.news h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
    margin-left: 40px;
}
.news__wrap_straight{
    margin-top: 15px;
    background: #F5F5F5;
    height: 9px;
}
.news__wrap{
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}
.news__wrap_box{
    width: 24%;
    align-items: flex-start;
    padding-top: 50px;
}
.news__wrap_box img{
    position: absolute;
    top: -8px;
}
.news__wrap_box a{
    color: #005BB9;
    text-decoration: underline;
    font-size: 16px;
}
.news__wrap_box p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    color:#242424;;
}
.news__wrap_box li{
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}
.news__wrap_box ul{
    margin-bottom: 0;
    padding-left: 0;
}
.date{
    width: 58px;
    height: 16px;
    background: #0C1A2A;
    border-radius: 4px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.footer__wrap{
    margin:0 auto;
    max-width: 1300px;
}
.footer__wrap h3{
    font-size: 18px;
    line-height: 21px;
    color:#868DAC;
    margin-bottom: 0;
}
.footer__wrap h5,h4{
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin-bottom: 0;
}
.footer__wrap_information h4{
    padding-top: 50px;
}
.footer__wrap_rubricator,.footer__wrap_catalog{
    width: 18%;
}
.footer__wrap_information{
    width: 23%;
}
.footer__wrap_information,.footer__wrap_catalog,
.footer__wrap_rubricator,.footer__wrap_contact-adress{
    padding-top: 30px;
    row-gap: 10px;
    align-items: flex-start;
}
.footer__wrap_contact-adress{
    width: 41%;
}
.contact-adress{
    width: 100%;
    justify-content: space-between;
}
.footer-contact h3,.footer-adress h3{
    color: #868DAC;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
}
.footer-contact p,.footer-adress p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 19px;
    color: white;
}
.footer-contact,.footer-adress{
    width: 50%;
    row-gap: 10px;
}
.footer-text span,p{
    margin-bottom: 0;
    font-size: 18px;
    color: #858CAB;
}
 .footer-text p{
     color: white;
 }
.footer-text{
    padding-top: 20px;
    column-gap: 60px;
}
.footer-info h3{
    margin-bottom: 0;
    max-width: 350px;
}
.footer-info{
    row-gap: 20px;
}
.btn-outline-secondary{
    width: 177px;
    height: 40px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    color: white;
}
.social{
    width: 100%;
    justify-content: flex-end;
    column-gap: 30px;
}
footer h6{
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    margin-left: 20px;
    padding-bottom: 20px;
}