.color{
    background: darkgrey;
}
.w1000{
    width: 1000px;
}
.father{
    height: 500px;
    text-align: center;
    line-height: 300px;
}
.mother{
    height: 300px;
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}
.head{
    height: 200px;
}
.medium{
    width: 700px;
}
.foot{
    width: 300px;
}
