@media screen and (max-width: 325px){
    .header__nav{
        display: none;
    }
   .header__logo img{
       width: 50px;
   }

    .header__wrap{
        max-width: 320px;
    }
    .header_straight{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 4px;
    }
    .header__logo{
        margin-top: 20px;
    }
    .header__main{
        max-width: 320px;
        height: 167px;
        padding-left: 22px;
        padding-top: 250px;
        row-gap: 10px;
        align-items: center;
    }
    .header__main h2{
        font-size: 30px;
    }
    .header__main h1{
        font-size: 40px;
    }
    .header__main p{
        font-size: 15px;
    }
    .header__main p::before,
    .header__main p::after{
        display: none;
    }
    .header__wrap-box{
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 202px 15px 0 15px;
        row-gap: 14px;
    }
    .box{
        width: 290px;
        height: 280px;

    }
    .main{
        flex-direction: column;
    }
    .main__history{
        padding-top: 500px;
        row-gap: 50px;
    }
    .main__history h2{
        font-size: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .main__photo img{
        width: 100%;
    }
    .main__history_point{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main__photo{
        margin-top: 50px
    }
    .zakaz{
        margin-top: 0;
    }
    .zakaz__wrap{
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        padding: 0 20px;
    }
    .zakaz h2{
        font-size: 30px;
    }
    .zakaz span{
        font-size: 24px;
    }
    .zakaz__button {
        width: 139px;
        height: 43px;
        font-size: 14px;
    }
    .dishes h2{
        font-size: 40px;
        margin-top: 60px;
        width: 170px;
        margin-left: 70px;
    }
    .dishes__wrap{
        margin-top: 70px;
        flex-direction: column;

    }
    .burger span{
        display: none;

    }
    .burger p{
        font-size: 22px;

    }
    .burger img{
        display: block;
        width: 170px;
        height: 113px;
        margin-left: 10px;
    }
    .dishes__wrap{
        row-gap: 50px;
    }
    .burger{
        column-gap: 0px;
    }
    .menu__wrap {
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
    }
    .first{
        width: 290px;
    }
    .second{
        display: none;
    }
}