html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.flex{
    display: flex;
}
.header{
    height: 800px;
    background: url("images/HERO IMG.jpg") no-repeat center/cover;

}
.header__wrap{
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px
}
.header__logo{
    margin-top: 50px;
}

.header__menu{
    column-gap: 23px;
    height: 74px;
    align-items: center;

}

.header__nav{
    column-gap: 16px;
}

.header__menu a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;

}
.header__menu img{
    width: 20px;
    color: white;
}
.header__nav{
    align-items: center;
    margin-top: 50px;
}
.header__nav_phone{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    row-gap: 10px;


}
.header__nav_phone  {
    width: 238px;
    height: 47px;
    border-left: 2px solid white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    column-gap: 10px;
}
.header__nav_phone p{
    font-size: 14px;
    color:white;

}

.header__nav_phone img{
    font-size: 18px;
}
.header__nav button{
    width: 157px;
    height: 47px;
    background: #FF7400;

}
.header__nav button a{
    color: white;
    text-decoration: none;
    border: none;
}
.header__main {
    max-width: 550px;
    height: 260px;
    color: #D67E35;
    padding-left: 175px;
    padding-top: 200px;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.header__main h2{
    font-size: 50px;
}.header__main h1{
     font-size: 80px;
 }
.header__main p{
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header__main p::before,
.header__main p::after {
    content: "";
    display: block;
    Width :61px;
    Height :2px;
    background: #C4C4C4;
}
.header__main button{
    width: 137px;
    height: 47px;
    background: #FF7400;
    color: white;
    font-size: 14px;
    text-align: center;
}
.header__wrap-box{
    position: relative;

    margin:125px 150px 0 150px;
    column-gap: 30px;


}
.box{
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    background: white;
    align-items: center;
    padding-top: 35px;
     row-gap: 20px;
    height: 350px;
}
.img{
    width: 126px;
    height: 104px;
}
.box h3, p{
    font-size: 26px;
    text-align: center;
    color: #656363;
}

.box span{
    color:#D67E35 ;
}
.box b{
    font-weight: bold;
}
.header_straight{
    width: 30px;
    height: 30px;
    display: none;

}
.straight{
    width: 30px;
    height: 4px;
    background: #FF7400;
}
.main{
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-around;

}
.main__history{
    max-width: 442px;
    margin-top: 350px;
    flex-direction: column;
    justify-content: space-around;

}
.main__photo{
    max-width: 540px;
    margin-top: 350px;
}
.main__history h2{
    text-align: center;
    font-size: 54px;
}
.main__history span{
    color: #FF7400;
}
.main__history p{
    font-size: 16px;
}
.main__history_point{
    width: 100%;
    justify-content: space-around;
}
.number{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color:#FF7400 ;
    row-gap: 5px;
}
.number span{
    font-size: 20px;
    color: black;
}
.zakaz{
    background: url("images/bg.jpg") no-repeat center/cover;
    margin-top: 122px;
}
.zakaz__wrap{
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    height: 357px;
    align-items: center;

}
.zakaz__text{
    max-width: 600px;

}
.zakaz h2{
    color: #D67E34;
    font-size: 52px;

}
.zakaz span{
    color: white;
    font-size: 24px;
}
.zakaz__button{
    width: 157px;
    height: 47px;
    background:#FF7400 ;
    justify-content: center;
    align-items: center;
}
.zakaz__button a{
    text-decoration: none;
    color: white;
}
.dishes h2{
    text-align: center;
    font-size: 54px;
    margin-top: 132px;
}
.dishes span{
    color:#FF7400  ;
}
.dishes__wrap{
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.dishes__wrap_burger{

    flex-direction: column;
    row-gap: 30px;

}
.burger{
    column-gap: 30px;
    align-items: center;
    font-size: 26px;
}
.menu{
    background: url("images/bar-1869656_1920 2.jpg") no-repeat center/cover;
    margin-top: 150px;
    height: 1034px;
}
.menu h2{
    font-size: 54px;
    text-align: center;
    color: white;
    padding-top: 100px;

}
.menu__wrap{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 140px;

}
.menu__wrap_box{
    flex-direction: column;
    background: white;
    align-items: center;
    row-gap: 20px;
    text-align: center;
}
.menu__wrap_box h3{
    font-size: 26px;
}
.menu__wrap_box span{
    font-size: 16px;
    width: 180px;
}

.menu__wrap_box img{
    padding: 80px 60px 0 60px;
}
.box_button{
    width: 220px;
    height: 50px;
    background: #D67E34;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.recomended{
    width: 125px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: #D67E34;
    font-size: 13px;
    position: absolute;
    left:0;
}
.first{
    position: relative;
}
.review{
    background: #E5E5E5;
    flex-direction: column;
}
.review p{
    margin: 100px 260px 20px 260px;
    font-size: 20px;
    color: black;
}
.review img{
    width: 149px;
    height: 100px;
}